body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
        }

.head1 {
    text-align: center;
    color: #333;
        }
form {
    background-color: #fff;
    padding: 25px;
    max-width: 500px;
     margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
.form-section {
  margin-top: 20px;
}

.field-title {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-bottom: 5px;
}

.form-section label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

.form-section select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
        }
input {
     width: 100%;
    padding: 10px;
     margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
         }
button {
     margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
        }
button:hover {
    background-color: #45a049;
        }
.btn{
    background: red;
}
.btn:hover{
    background: white;
    color: #222;
}
        
table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    }

    th, td {
     padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
    }

    th {
    background-color: #333;
    color: white;
    }

@media (max-width: 768px) {
  form, table {
    width: 95%;
  }

  th, td {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  form label, form input, form select, form button {
    font-size: 14px;
  }

  th, td {
    font-size: 12px;
    padding: 8px;
  }
}